
<p>
  <strong>first_name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>last_name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>address_number:</strong>
  <%= @customer.address_number %>
</p>

<p>
  <strong>address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>cart_number1:</strong>
  <%= @customer.cart_number1 %>
</p>

<p>
  <strong>cart_number2:</strong>
  <%= @customer.cart_number2 %>
</p>

<p>
  <strong>cart_number3:</strong>
  <%= @customer.cart_number3 %>
</p>
